
### Scala ###
*.class
*.log

# sbt
dist/*
target/
lib_managed/
src_managed/
project/target/
project/project/target/
.history
.cache
.lib

# Bloop/Metals/BSP
.bloop
.metals
.bsp

### Intellij ###
# Ignore everything except formatting configuration
.idea/*
!.idea/codeStyles
.idea/codeStyles/*
!.idea/codeStyles/Project.xml
